<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
  <%= render 'layouts/sidebar' %>



  <div id="page-wrapper">


   <h2> Filter comedians by first name </h2>
   <br/>
   <div class="row">

    <div class="col-md-11">.

      <div class="panel-group" id="accordion-test">

        <div class="panel panel-default">
          <a data-toggle="collapse" data-parent="#accordion-test" href="#collapseOne">
          <div class="panel-heading">
            <h4 class="panel-title">
                A
            </h4>
          </div>
          </a>
          <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
              <br/>
              <% if @comedians["A"] %>
                <% @comedians["A"].each do |comedian| %>
                  <p><a href="/comedians/<%=comedian.id%>"><%= comedian.name %></a></p>
                <% end %>
              <% else %>
                <p> No comedians starting with this letter </p>
              <% end %>
              <br/>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <a data-toggle="collapse" data-parent="#accordion-test" href="#collapseTwo">
          <div class="panel-heading">
            <h4 class="panel-title">
                B
            </h4>
          </div>
          </a>
          <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
              <br/>
              <% if @comedians["B"] %>
                <% @comedians["B"].each do |comedian| %>
                  <p><a href="/comedians/<%=comedian.id%>"><%= comedian.name %></a></p>
                <% end %>
              <% else %>
                <p> No comedians starting with this letter </p>
              <% end %>
              <br/>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <a data-toggle="collapse" data-parent="#accordion-test" href="#collapseThree">
          <div class="panel-heading">
            <h4 class="panel-title">
                C
            </h4>
          </div>
          </a>
          <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
              <br/>
              <% if @comedians["C"] %>
                <% @comedians["C"].each do |comedian| %>
                  <p><a href="/comedians/<%=comedian.id%>"><%= comedian.name %></a></p>
                <% end %>
              <% else %>
                <p> No comedians starting with this letter </p>
              <% end %>
              <br/>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <a data-toggle="collapse" data-parent="#accordion-test" href="#collapseFOUR">
          <div class="panel-heading">
            <h4 class="panel-title">
                D
            </h4>
          </div>
          </a>
          <div id="collapseFOUR" class="panel-collapse collapse">
            <div class="panel-body">
              <br/>
              <% if @comedians["D"] %>
                <% @comedians["D"].each do |comedian| %>
                  <p><a href="/comedians/<%=comedian.id%>"><%= comedian.name %></a></p>
                <% end %>
              <% else %>
                <p> No comedians starting with this letter </p>
              <% end %>
              <br/>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <a data-toggle="collapse" data-parent="#accordion-test" href="#collapseEE">
          <div class="panel-heading">
            <h4 class="panel-title">
                E
            </h4>
          </div>
          </a>
          <div id="collapseEE" class="panel-collapse collapse">
            <div class="panel-body">
              <br/>
              <% if @comedians["E"] %>
                <% @comedians["E"].each do |comedian| %>
                  <p><a href="/comedians/<%=comedian.id%>"><%= comedian.name %></a></p>
                <% end %>
              <% else %>
                <p> No comedians starting with this letter </p>
              <% end %>
              <br/>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <a data-toggle="collapse" data-parent="#accordion-test" href="#collapseFF">
          <div class="panel-heading">
            <h4 class="panel-title">
                F
            </h4>
          </div>
          </a>
          <div id="collapseFF" class="panel-collapse collapse">
            <div class="panel-body">
              <br/>
              <% if @comedians["F"] %>
                <% @comedians["F"].each do |comedian| %>
                  <p><a href="/comedians/<%=comedian.id%>"><%= comedian.name %></a></p>
                <% end %>
              <% else %>
                <p> No comedians starting with this letter </p>
              <% end %>
              <br/>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <a data-toggle="collapse" data-parent="#accordion-test" href="#collapseG">
          <div class="panel-heading">
            <h4 class="panel-title">
                G
            </h4>
          </div>
          </a>
          <div id="collapseG" class="panel-collapse collapse">
            <div class="panel-body">
              <br/>
              <% if @comedians["G"] %>
                <% @comedians["G"].each do |comedian| %>
                  <p><a href="/comedians/<%=comedian.id%>"><%= comedian.name %></a></p>
                <% end %>
              <% else %>
                <p> No comedians starting with this letter </p>
              <% end %>
              <br/>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <a data-toggle="collapse" data-parent="#accordion-test" href="#collapseH">
          <div class="panel-heading">
            <h4 class="panel-title">
                H
            </h4>
          </div>
          </a>
          <div id="collapseH" class="panel-collapse collapse">
            <div class="panel-body">
              <br/>
              <% if @comedians["H"] %>
                <% @comedians["H"].each do |comedian| %>
                  <p><a href="/comedians/<%=comedian.id%>"><%= comedian.name %></a></p>
                <% end %>
              <% else %>
                <p> No comedians starting with this letter </p>
              <% end %>
              <br/>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <a data-toggle="collapse" data-parent="#accordion-test" href="#collapseI">
          <div class="panel-heading">
            <h4 class="panel-title">
                I
            </h4>
          </div>
          </a>
          <div id="collapseI" class="panel-collapse collapse">
            <div class="panel-body">
              <br/>
              <% if @comedians["I"] %>
                <% @comedians["I"].each do |comedian| %>
                  <p><a href="/comedians/<%=comedian.id%>"><%= comedian.name %></a></p>
                <% end %>
              <% else %>
                <p> No comedians starting with this letter </p>
              <% end %>
              <br/>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <a data-toggle="collapse" data-parent="#accordion-test" href="#collapseJ">
          <div class="panel-heading">
            <h4 class="panel-title">
                J
            </h4>
          </div>
          </a>
          <div id="collapseJ" class="panel-collapse collapse">
            <div class="panel-body">
              <br/>
              <% if @comedians["J"] %>
                <% @comedians["J"].each do |comedian| %>
                  <p><a href="/comedians/<%=comedian.id%>"><%= comedian.name %></a></p>
                <% end %>
              <% else %>
                <p> No comedians starting with this letter </p>
              <% end %>
              <br/>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <a data-toggle="collapse" data-parent="#accordion-test" href="#collapseK">
          <div class="panel-heading">
            <h4 class="panel-title">
                K
            </h4>
          </div>
          </a>
          <div id="collapseK" class="panel-collapse collapse">
            <div class="panel-body">
              <br/>
              <% if @comedians["K"] %>
                <% @comedians["K"].each do |comedian| %>
                  <p><a href="/comedians/<%=comedian.id%>"><%= comedian.name %></a></p>
                <% end %>
              <% else %>
                <p> No comedians starting with this letter </p>
              <% end %>
              <br/>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <a data-toggle="collapse" data-parent="#accordion-test" href="#collapseL">
          <div class="panel-heading">
            <h4 class="panel-title">
                L
            </h4>
          </div>
          </a>
          <div id="collapseL" class="panel-collapse collapse">
            <div class="panel-body">
              <br/>
              <% if @comedians["L"] %>
                <% @comedians["L"].each do |comedian| %>
                  <p><a href="/comedians/<%=comedian.id%>"><%= comedian.name %></a></p>
                <% end %>
              <% else %>
                <p> No comedians starting with this letter </p>
              <% end %>
              <br/>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <a data-toggle="collapse" data-parent="#accordion-test" href="#collapseM">
          <div class="panel-heading">
            <h4 class="panel-title">
                M
            </h4>
          </div>
          </a>
          <div id="collapseM" class="panel-collapse collapse">
            <div class="panel-body">
              <br/>
              <% if @comedians["M"] %>
                <% @comedians["M"].each do |comedian| %>
                  <p><a href="/comedians/<%=comedian.id%>"><%= comedian.name %></a></p>
                <% end %>
              <% else %>
                <p> No comedians starting with this letter </p>
              <% end %>
              <br/>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <a data-toggle="collapse" data-parent="#accordion-test" href="#collapseN">
          <div class="panel-heading">
            <h4 class="panel-title">
                N
            </h4>
          </div>
          </a>
          <div id="collapseN" class="panel-collapse collapse">
            <div class="panel-body">
              <br/>
              <% if @comedians["N"] %>
                <% @comedians["N"].each do |comedian| %>
                  <p><a href="/comedians/<%=comedian.id%>"><%= comedian.name %></a></p>
                <% end %>
              <% else %>
                <p> No comedians starting with this letter </p>
              <% end %>
              <br/>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <a data-toggle="collapse" data-parent="#accordion-test" href="#collapseO">
          <div class="panel-heading">
            <h4 class="panel-title">
                O
            </h4>
          </div>
          </a>
          <div id="collapseO" class="panel-collapse collapse">
            <div class="panel-body">
              <br/>
              <% if @comedians["O"] %>
                <% @comedians["O"].each do |comedian| %>
                  <p><a href="/comedians/<%=comedian.id%>"><%= comedian.name %></a></p>
                <% end %>
              <% else %>
                <p> No comedians starting with this letter </p>
              <% end %>
              <br/>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <a data-toggle="collapse" data-parent="#accordion-test" href="#collapseP">
          <div class="panel-heading">
            <h4 class="panel-title">
                P
            </h4>
          </div>
          </a>
          <div id="collapseP" class="panel-collapse collapse">
            <div class="panel-body">
              <br/>
              <% if @comedians["P"] %>
                <% @comedians["P"].each do |comedian| %>
                  <p><a href="/comedians/<%=comedian.id%>"><%= comedian.name %></a></p>
                <% end %>
              <% else %>
                <p> No comedians starting with this letter </p>
              <% end %>
              <br/>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <a data-toggle="collapse" data-parent="#accordion-test" href="#collapseQ">
          <div class="panel-heading">
            <h4 class="panel-title">
                Q
            </h4>
          </div>
          </a>
          <div id="collapseQ" class="panel-collapse collapse">
            <div class="panel-body">
              <br/>
              <% if @comedians["Q"] %>
                <% @comedians["Q"].each do |comedian| %>
                  <p><a href="/comedians/<%=comedian.id%>"><%= comedian.name %></a></p>
                <% end %>
              <% else %>
                <p> No comedians starting with this letter </p>
              <% end %>
              <br/>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <a data-toggle="collapse" data-parent="#accordion-test" href="#collapseR">
          <div class="panel-heading">
            <h4 class="panel-title">
                R
            </h4>
          </div>
          </a>
          <div id="collapseR" class="panel-collapse collapse">
            <div class="panel-body">
              <br/>
              <% if @comedians["R"] %>
                <% @comedians["R"].each do |comedian| %>
                  <p><a href="/comedians/<%=comedian.id%>"><%= comedian.name %></a></p>
                <% end %>
              <% else %>
                <p> No comedians starting with this letter </p>
              <% end %>
              <br/>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <a data-toggle="collapse" data-parent="#accordion-test" href="#collapseS">
          <div class="panel-heading">
            <h4 class="panel-title">
                S
            </h4>
          </div>
          </a>
          <div id="collapseS" class="panel-collapse collapse">
            <div class="panel-body">
              <br/>
              <% if @comedians["S"] %>
                <% @comedians["S"].each do |comedian| %>
                  <p><a href="/comedians/<%=comedian.id%>"><%= comedian.name %></a></p>
                <% end %>
              <% else %>
                <p> No comedians starting with this letter </p>
              <% end %>
              <br/>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <a data-toggle="collapse" data-parent="#accordion-test" href="#collapseT">
          <div class="panel-heading">
            <h4 class="panel-title">
                T
            </h4>
          </div>
          </a>
          <div id="collapseT" class="panel-collapse collapse">
            <div class="panel-body">
              <br/>
              <% if @comedians["T"] %>
                <% @comedians["T"].each do |comedian| %>
                  <p><a href="/comedians/<%=comedian.id%>"><%= comedian.name %></a></p>
                <% end %>
              <% else %>
                <p> No comedians starting with this letter </p>
              <% end %>
              <br/>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <a data-toggle="collapse" data-parent="#accordion-test" href="#collapseU">
          <div class="panel-heading">
            <h4 class="panel-title">
                U
            </h4>
          </div>
          </a>
          <div id="collapseU" class="panel-collapse collapse">
            <div class="panel-body">
              <br/>
              <% if @comedians["U"] %>
                <% @comedians["U"].each do |comedian| %>
                  <p><a href="/comedians/<%=comedian.id%>"><%= comedian.name %></a></p>
                <% end %>
              <% else %>
                <p> No comedians starting with this letter </p>
              <% end %>
              <br/>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <a data-toggle="collapse" data-parent="#accordion-test" href="#collapseV">
          <div class="panel-heading">
            <h4 class="panel-title">
                V
            </h4>
          </div>
          </a>
          <div id="collapseV" class="panel-collapse collapse">
            <div class="panel-body">
              <br/>
              <% if @comedians["V"] %>
                <% @comedians["V"].each do |comedian| %>
                  <p><a href="/comedians/<%=comedian.id%>"><%= comedian.name %></a></p>
                <% end %>
              <% else %>
                <p> No comedians starting with this letter </p>
              <% end %>
              <br/>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <a data-toggle="collapse" data-parent="#accordion-test" href="#collapseW">
          <div class="panel-heading">
            <h4 class="panel-title">
                W
            </h4>
          </div>
          </a>
          <div id="collapseW" class="panel-collapse collapse">
            <div class="panel-body">
              <br/>
              <% if @comedians["W"] %>
                <% @comedians["W"].each do |comedian| %>
                  <p><a href="/comedians/<%=comedian.id%>"><%= comedian.name %></a></p>
                <% end %>
              <% else %>
                <p> No comedians starting with this letter </p>
              <% end %>
              <br/>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <a data-toggle="collapse" data-parent="#accordion-test" href="#collapseX">
          <div class="panel-heading">
            <h4 class="panel-title">
                X
            </h4>
          </div>
          </a>
          <div id="collapseX" class="panel-collapse collapse">
            <div class="panel-body">
              <br/>
              <% if @comedians["X"] %>
                <% @comedians["X"].each do |comedian| %>
                  <p><a href="/comedians/<%=comedian.id%>"><%= comedian.name %></a></p>
                <% end %>
              <% else %>
                <p> No comedians starting with this letter </p>
              <% end %>
              <br/>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
         <a data-toggle="collapse" data-parent="#accordion-test" href="#collapseY">
         <div class="panel-heading">
           <h4 class="panel-title">
               Y
           </h4>
         </div>
         </a>
          <div id="collapseY" class="panel-collapse collapse">
            <div class="panel-body">
              <br/>
              <% if @comedians["Y"] %>
                <% @comedians["Y"].each do |comedian| %>
                  <p><a href="/comedians/<%=comedian.id%>"><%= comedian.name %></a></p>
                <% end %>
              <% else %>
                <p> No comedians starting with this letter </p>
              <% end %>
              <br/>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <a data-toggle="collapse" data-parent="#accordion-test" href="#collapseZ">
          <div class="panel-heading">
            <h4 class="panel-title">
                Z
            </h4>
          </div>
          </a>
          <div id="collapseZ" class="panel-collapse collapse">
            <div class="panel-body">
              <br/>
              <% if @comedians["Z"] %>
                <% @comedians["Z"].each do |comedian| %>
                  <p><a href="/comedians/<%=comedian.id%>"><%= comedian.name %></a></p>
                <% end %>
              <% else %>
                <p> No comedians starting with this letter </p>
              <% end %>
              <br/>
            </div>
          </div>
        </div>
      </div>




      </div>








    </div>







 </div>





</div>


