<div class="page-container">
  <%= render 'layouts/sidebar' %>
  <div id="page-wrapper">
   <div class="row">
    <h3 class="comedian_header">
      Featured Comedians
      <%= button_to "View All", all_comedians_path, :method => :get, class: "btn all_comedian_button" %>
    </h3>

      <table class="table table-striped">
        <% @comedians.each do |comedian| %>
           <% post = comedian.posts.first %>
           <% number_of_videos = comedian.posts.length %>
            <tr>
              <td><%= link_to image_tag(post.image_url, height: '100', width: '100'), comedian_path(comedian)  %></td>
              <td><%= link_to comedian.name, comedian_path(comedian) %></td>
              <td><%= link_to "#{number_of_videos} videos", comedian_path(comedian) %></td>
            </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>










