<!DOCTYPE html>
<html>
<head>
  <title>Waste5 Standup Comedy</title>
  <% if @post %>
  <meta name="description" content="<%= @post.title %>">
  <% end %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= javascript_include_tag :defaults %>



  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="/assets/theme.css">

  <script>
    function onPlayerStateChange(event) {
      if(event.data ===  YT.PlayerState.ENDED) {
        location.reload();
      }
    }

    $(function() {

      var refreshVideo = function() {
        new YT.Player('explore_js', {
          events: {
            'onStateChange': onPlayerStateChange
          }
        });
      }
      $(window).load(refreshVideo);
    });
  </script>

  <% if @post %>
    <meta property="og:title" content="<%=@post.title%>">
    <meta property="og:image" content="<%=@post.image_url%>" />
  <%else%>
    <meta property="og:title" content="Waste5 Standup Comedy">
    <meta property="og:image" content="/assets/fb.jpg" />
  <% end %>





  <!-- Responsive on Mobile -->

  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />

  <!-- Homescreen Images -->
  <link rel=”apple-touch-icon” href=”/apple-touch-icon.png”/>
  <link rel=”apple-touch-icon-precomposed” href=”/apple-touch-icon.png”/>


  <!-- Font Awesome -->
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">

  <meta name="apple-mobile-web-app-title" content="Add to Home">
  <link rel="stylesheet" type="text/css" href="/assets/addtohomescreen.css">
  <script src="/assets/addtohomescreen.js"></script>
  <script>
  addToHomescreen();
  </script>






  <%= csrf_meta_tags %>
</head>

<body class="page-body">

<%= yield %>

</body>
</html>
